@import url("@fontsource/montserrat");
@import url("@fontsource/montserrat/600.css");
@import url("@fontsource/montserrat/700.css");

:root {
  --background-color: #eaeaea;
  --white: #ffffff;
  --title-color: #838383;
  --shadow-color: #000000;
  --hint-color: #ffa542;
  --border-radius: 30px;
  --btn-round-color: #ffce7f;
  --price-cart-color-gray: #aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  font-family: "Montserrat";
}

body {
  background-color: var(--background-color);
}

img {
  object-fit: contain;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  min-height: 100vh;
}

.links {
  display: flex;
  text-decoration: none;
  color: var(--shadow-color);
}

.container {
  width: 100%;
  max-width: 1135px;
  padding: 0 24px;
  /* min-width: 660px; */
}

.navbar {
  align-items: center;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  /* padding: 0 24px; */
}

h1 {
  font-size: 25px;
}

.links a {
  text-decoration: none;
}

.cart_icon {
  width: 23.2px;
  height: 23.2px;
}

.ellipse_icon {
  display: flex;
  justify-content: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: var(--hint-color);
  position: absolute;
  left: 10px;
  bottom: 12px;
}

.badge {
  font-size: 14px;
  color: var(--white);
  height: 1rem;
}

.btn-icon {
  position: relative;
  display: flex;
  transition: 0.2s ease-in;
  margin-right: 25px;
}

.btn-icon:hover {
  transform: scale(1.1);
}

.category-title {
  display: flex;
  justify-content: flex-start;
}

.category-title h2 {
  font-weight: 600;
  font-size: 20px;
  color: var(--title-color);
  margin-bottom: 20px;
}

.products {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.headphones-container {
  margin-bottom: 28px;
  /* min-height: 886px; */
}

.cart-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.wirelessHeadphones-container {
}

.product {
  max-width: 350px;
  flex-grow: 1;
  font-size: 17px;
  background-color: var(--white);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 350;
  height: 407px;
  align-items: center;
  gap: 54px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 600;
}

.product-img {
  width: 219px;
  height: 237px;
  margin-top: 15px;
}

.price-color {
  color: var(--hint-color);
}

.description {
  width: 100%;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
}

.description-container {
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: space-between;
}

.description-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15px;
}

.discount {
  font-size: 13px;
  color: var(--btn-round-color);
  text-decoration: line-through;
}

.ranking {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--title-color);
}

.btn {
  border: none;
  background-color: unset;
  cursor: pointer;
}

.btn-purchase {
  font-size: 17px;
  transition: 0.1s ease-in;
}

.btn-purchase:hover {
  color: var(--title-color);
  transform: scale(1.1);
}

.footer {
  width: 100%;
  display: flex;
  /* align-items: flex-start; */
  background-color: var(--white);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  /* height: 149px; */
  justify-content: space-between;
  padding: 29px;
  margin-top: auto;
  /* width: 1135px; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
}

.logo-footer {
  width: 85px;
  height: 80px;
}

.pages {
  display: flex;
  width: 427px;
  justify-content: space-between;
}

.list {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
  list-style-type: none;
  transition: 0.1s ease-in;
}

.list li:hover {
  color: var(--title-color);
  cursor: pointer;
}

.lang-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 155px;
}

.language {
  display: flex;
  gap: 17px;
}

.active-lang {
  font-weight: bold;
  color: var(--hint-color);
}

.btn-lang {
  font-size: 15px;
  transition: 0.1s ease-in;
}

.btn-lang:hover {
  transform: scale(1.1);
}

.networks {
  display: flex;
  width: 126px;
  justify-content: space-between;
  align-items: center;
}

.network-icon {
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.network-icon:hover {
  transform: scale(1.1);
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 633px;
}

.goods-item-frame {
  padding: 0 24px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  max-width: 633px;
  height: 218px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--white);
  border-radius: var(--border-radius);
}

.goods {
  display: flex;
  /* min-width: 600px; */
  height: 218px;
  align-items: center;
  justify-content: space-between;
}

.cart-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-width: 150px; */
  height: 185px;
}

.cart-image {
  width: 146px;
  height: 136px;
}

.btns-container-cart {
  font-size: 17px;
  display: flex;
  align-items: center;
  width: 118px;
  justify-content: space-between;
  color: var(--white);
}

.btn-round {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-round-color);
  width: 30px;
  height: 30px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.btn-round:hover {
  transform: scale(1.1);
}

.amount-items-cart {
  color: var(--shadow-color);
}

.titles-image-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 51px;
  width: 150px;
}

.price-cart-gray {
  font-size: 15px;
  color: var(--price-cart-color-gray);
  font-weight: 600;
}

.btns-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 60px;
  height: 185px;
}

.delete-cart-icon {
  width: 20px;
  height: 20px;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.delete-cart-icon:hover {
  transform: scale(1.1);
}

.price-cart-black {
  font-size: 15px;
  color: var(--shadow-color);
  font-weight: 600;
}

.shoppingCart-info {
  display: flex;
  flex-direction: column;
  /* min-width: 240px; */
  width: 350px;
  height: 120px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--white);
  border-radius: var(--border-radius);
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.total-price {
  padding: 0 15px;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.purchase-container {
  font-family: inherit;
  font-size: 17px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 100%;
  background-color: var(--shadow-color);
  height: 65px;
  border-radius: 20px;
  transition: 0.1s ease-in;
  padding: 0 10px;
}

.purchase-container:hover {
  transform: scale(1.02);
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}

/* ::-webkit-scrollbar {
  display: none;
} */

.content {
  flex-grow: 1;
}

.links-icons {
  width: 70px;
  display: flex;
  justify-content: space-between;
}
